.camera_enable{
    width:50vw;
    height: 30vw;
    background-color: aqua;
    display: flex;
}
.canvas_css{

    background-color: black;
}
.btn_start{
    width: 500px;
    height: 100px;
    background-color: blue;
}

.test_css{
    color: aqua;
    accent-color: aqua;

}

.camera-main-div{
    display: flex;
    flex-direction: column;
    width:60vw;
    height: 35vw;
    /* z-index: ; */
    background-color: black;
}



.webcam-css{
    position: absolute;
    width:60vw; 
    height: 35vw;
    background-color: rgb(11, 184, 98);
    z-index: 1;
}
